* @Pycord-Development/maintainers

/discord/ @Pycord-Development/maintain-discord-api

/tests/ @Pycord-Development/maintain-tests
/discord/ext/testing/ @Pycord-Development/maintain-tests
/discord/ext/bridge/ @Pycord-Development/maintain-ext-bridge
/.github/ @Lulalaby
/docs/locales/ @Pycord-Development/maintain-translations
/docs/build/locales/ @Pycord-Development/maintain-translations
/.github/workflows/docs-localization-download.yml @Pycord-Development/maintain-translations
/.github/workflows/docs-localization-upload.yml @Pycord-Development/maintain-translations
/crowdin.yml @Pycord-Development/maintain-translations
/requirements/_locale.txt @Pycord-Development/maintain-translations
