version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    groups:
      minor-version-bumps:
        update-types: ["minor"]
      patch-version-bumps:
        update-types: ["patch"]
      major-version-bumps:
        update-types: ["major"]
    schedule:
      interval: "daily"
    commit-message:
      prefix: "chore"
      prefix-development: "chore"
      include: "scope"
  - package-ecosystem: "github-actions"
    directory: "/"
    groups:
      minor-version-bumps:
        update-types: ["minor"]
      patch-version-bumps:
        update-types: ["patch"]
      major-version-bumps:
        update-types: ["major"]
    schedule:
      interval: "daily"
    commit-message:
      prefix: "ci"
      include: "scope"
