*.json
*.py[cod]
*.log
*.egg-info
venv/
.venv/
docs/_build
docs/crowdin.py
*.buildinfo
*.mp3
*.m4a
*.wav
*.mp4
*.ogg
*.pcm
*.png
*.jpg
*.flac
*.mo
.idea/
env/
.vs/
.DS_Store
.python-version
__pycache__
.vs/*
.vscode/*
env/
build/
test.py
build/
node_modules/*
