[MASTER]
extension-pkg-whitelist=pydantic,ujson
py-version=3.8

[MESSAGES CONTROL]

enable=bad-indentation,line-too-long
disable=protected-access,fixme


[FORMAT]

indent-string='    '

max-line-length=120
